body {
    background-color: rgb(255, 60, 0);
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
    background-size: cover;
    font-family: Manuale;
    color: rgb(0, 0, 0);
}
audio {
    margin: 10px auto;
    display: flex;
}
.centerButton {
    display: flex;
    justify-content: center;
    min-height: 40px;
}
#timer{
    color: rgb(255, 0, 0);
}
.row{
    background: rgba(255, 255, 255, 0.3);
}

#lineOne, #lineTwo, #line00, .answers {
    display: flex;
    justify-content: center;
}
#lineOne {
    color: white;
    }
#lineTwo {
min-height: 40px;
color: white;
}
#line00, .answers {
    padding: 20px 0;
}
#line00 {
    font-weight: bold;
}
.btn-light {
    width: 100%;
}