body {
    background-color: rgb(132, 228, 123);
    /* background-image: url(https://wallpapershome.com/images/wallpapers/polygon-2560x1600-4k-hd-wallpaper-orange-red-blue-background-pattern-225.jpg);
    font-family: Manuale; */
    color: rgb(0, 0, 0);
}
.centerButton {
    display: flex;
    justify-content: center;
    min-height: 40px;
}
#timer{
    color: rgb(255, 0, 0);
}
.row{
    background: rgba(255, 255, 255, 0.3);
}

#lineOne, #lineTwo, #line00, .answers {
    display: flex;
    justify-content: center;
}
#lineTwo {
min-height: 40px;
}
#line00, .answers {
    padding: 20px 0;
}
#line00 {
    font-weight: bold;
}
.btn-light {
    width: 100%;
}